<div>
 <!-- <div class="message-box">
    <div *ngFor="let msg of messages | async">
      {{ msg.userName }}: {{ msg.text }}
    </div>
  </div>-->
  <div class="form-group">
    <textarea id="exampleTextarea" [(ngModel)]="disp" rows="3" #scrollMe [scrollTop]="scrollMe.scrollHeight" disabled></textarea>
  </div>
  <input type="text" id="inputText" [(ngModel)]="message.text" required/>
  <button class="btn btn-primary" (click)="sendMessage(message.text)">Send Message</button>

</div>
