.message-box {
  width:100%;
  height: 300px;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box;
  border: solid;
  border-color: black;
  border-width: thin;
}
textarea {
  resize: none;
  width:100%;
  height: 200px;;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box;
}
